# pre procesar los datos

In [1]:
import sys
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('datasets/BlackFriday.csv', sep=',')

In [7]:
df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,0,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,0,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,0,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,0,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,1,55+,16,C,4+,0,8,NaN,NaN,7969

In [8]:
df.groupby(['Age']).

In [3]:
# diccionarios para normalizar datos
gender_dict = {'F':0, 'M':1}
age_dict = {'0-17':0, '18-25':1, '26-35':2, '36-45':3, '46-50':4, '51-55':5, '55+':6}
city_dict = {'A':0, 'B':1, 'C':2}
stay_dict = {'0':0, '1':1, '2':2, '3':3, '4+':4}

In [5]:
df["Gender"] = df["Gender"].apply(lambda x: gender_dict[x])

In [6]:
df["Age"] = df["Age"].apply(lambda x: gender_dict[x])

KeyError: '0-17'

In [ ]:
df["Gender"] = df["Gender"].apply(lambda x: gender_dict[x])